.anasayfa-container {
    background-image: url('images/iteration-1-images/home-banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;                      
    flex-direction: column;
    justify-content: center;           
    align-items: center;               
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo-yazi-buton {
    margin-bottom: 47vh;
}

.aciktim-buton {
    padding: 0.9em 3.3em;
    border-radius: 2em;
    background-color: #FDC913;
    border: none;
}

.anasayfa-slogan {
    font-size: 4em;
    padding: 0.5em 0;
}