.header-siparis {
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('images/iteration-1-images/logo.svg');
    background-color: #CE2829;
}

.headerNav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 20vh;
}

.nav-item {
    position: relative;
    color: #d3d3d3;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .nav-item:hover {
    color: white;
  }
  
  .nav-item.active {
    color: white;
    font-weight: 600;
  }
  
  .nav-item.active::after {
    background-color: white;
  }
