.header-siparis {
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('images/iteration-1-images/logo.svg');
  background-color: #CE2829;
}


.header-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.headerNav {
  position: absolute;
  width: 80vw;
  padding: 1.5vh;
  display: flex;
  justify-content: center;
  color: #FAF7F2;
}

.nav-item {
  color: #FAF7F2;
  background: none;
  border: none;
  font: 1em sans-serif;
  cursor: pointer
}

.nav-item:hover {
  color: white;
}

.nav-item.active {
  color: white;
  font-weight: 600;
}

@media (max-width: 500px) {
  .header-siparis {
    background-size: 17em;
    padding-right: 10em;
  }

  .nav-item {
    font-size: 0.9em;
  }
}