.pizza-options-container {
    width: 35vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.boyut-hamur {
    display: flex;
    width: 35vw;
    justify-content: space-between;
    flex-direction: row;
}

.option-title {
    font-size: 1.2rem;
    font: bold;
    padding-bottom: 1em;
}

.required {
    color: #CE2829;
    font-weight: bold;
}

.size-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.size-options-text {
    color: #5f5f5f;
    padding-left: 1vw;
}

.ek-malzemeler-container {
    padding-top: 5vh;

}

.hamur-sec-container {
    padding-right: 5vw;
}

.topping-note {
    font-size: 1rem;
    color: #5f5f5f;
}

.toppings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8em;
    padding-top: 1em;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #666;
}


@media (max-width: 500px) {
    .pizza-options-container {
        width: 80vw;
    }

    .boyut-hamur {
        flex-direction: row;
        gap: 2rem;
        width: 100%;
    }

    .hamur-sec-container {
        padding-right: 3em;
    }

    .toppings-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem;
    }

    .secim-baslik {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .secenekler label {
        font-size: 0.9rem;
    }

    .option-title {
        font-size: 1.1rem;
    }
    
    .checkbox-label {
        font-size: 0.95rem;
    }

}
