.siparis-page {
    width: 35vw;
    margin-bottom: 12rem;
}

.ayirici-cizgi {
    border: none;
    border-top: 1px solid #b1aaaa;
    margin-bottom: 2rem;
    width: 100%;
}

.adet-sayi {
    border-top: 1px solid #dfd9d9;
    padding: 1rem;
    border-bottom: 1px solid #dfd9d9;
}

.adet-btn {
    padding: 1rem
}

.siparis-toplami-yazisi {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.siparis-fiyat .satir {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    color: #777474;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.siparis-fiyat .satir:last-child {
    font-weight: bold;
    color: #d32f2f;
}

.siparis-container {
    display: flex;
    align-items: row;
    justify-content: space-between;
}

.siparis-ozet {
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 0.5em;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

.siparis-ver-btn {
    width: 20vw;
    height: 6vh;
}

@media (max-width: 500px) {
    
    .siparis-page {
        width: 80vw;
        margin: 2rem auto 6rem auto;
    }

    .siparis-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .adet-kontrol {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .adet-btn {
        padding: 0.75rem 1rem;
        font-size: 1.2rem;
    }

    .adet-sayi {
        padding: 0.75rem 1.2rem;
        font-size: 1.1rem;
    }

    .siparis-ver-btn {
        width: 40vw;
        margin-top: 1rem;
        height: 3rem;
        font-size: 1rem;
    }

    .ayirici-cizgi {
        width: 80vw;
        margin-top: 2em;
    }

    .siparis-ozet {
        width: 80vw;
    }
}
